body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  color: seashell;
  opacity: 0.9;
}


header {
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 69px;
  width: 100%;

}


header nav {
  margin-left: 50px;
  margin-right: (amount)px;
  padding-right: 40px;

}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header nav span a {
  color: seashell;

}

header img {
  height: 50px;
}


#mission-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../resources/Media/mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
  margin: 0 auto 0 auto;;
  padding: 70px
  border: 4px solid white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  position: relative;
  top: 70px;
  width: 1500px;
  border: 1px dotted white;


}



#mission-section h2, h4 {
  background-color: black;
  width: 1200px;
}

#month-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid white;
  margin-top: 70px;
  width: 1500px;
  height: 700px;

}


#item1 {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200px;
  width: 300px;
}

#item2 {
  border: 1px solid red;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#item3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}




  #item1 img {
    height: 200px;
    width: 300px;
  }

  #item2 img {
    height: 200px;
    width: 300px;
  }

  #item3 img {
    height: 200px;
    width: 300px;
  }
  #item4 img {
    height: 200px;
    width: 300px;
}

#item5 img {
  height: 200px;
  width: 300px;
}
